# App artifacts
/_build
/db
/deps
/*.ez

# Generated on crash by the VM
erl_crash.dump

# Static artifacts
/node_modules

# Since we are building assets from web/static,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/config/prod.secret.exs

# config/prod.exs is specific to each installation because it
# contains the host configuration. The repository only has an
# example file that can be adapted to your setup.
/config/prod.exs

# config/config.exs is specific to each installation as it contains the
# `secret_key_base` which is supposed to be generated via `mix
# phoenix.gen.secret`.
/config/config.exs

/web/static/elm/elm-stuff
/web/static/vendor
