<.link patch={~p"/entries"}>
  <.button>Newest first</.button>
</.link>

<.link patch={~p"/entries?order=asc"}>
  <.button>Oldest first</.button>
</.link>

<ul class="mb-6 flex flex-col space-y-4">
  <li
    :for={entry <- @entries}
    :key={entry.id}
    id={"entry-#{entry.id}"}
    class="flex flex-col md:flex-row"
  >
    <div class="flex flex-col">
      <span class="text-gray-400">{entry.feed.title}</span>
      {entry.title}
      <span>{format_timestamp_relative_to_now(entry.posted_at)}</span>
    </div>

    <div class="md:shrink-0 flex self-start mt-1 ml-auto space-x-4">
      <a
        href={entry.url}
        target="_blank"
        aria-label={"View entry #{entry.title}"}
        phx-click={JS.push("mark_as_read", loading: "#entry-#{entry.id}")}
        phx-value-entry-id={entry.id}
      >
        <.icon name="hero-arrow-top-right-on-square-solid" />
      </a>
      <button
        aria-label="Mark as read"
        class="cursor-pointer"
        phx-click={JS.push("mark_as_read", loading: "#entry-#{entry.id}")}
        phx-value-entry-id={entry.id}
      >
        <.icon name="hero-check-circle-solid" />
      </button>
    </div>
  </li>
</ul>
