div.actions {
  display: flex;
  justify-content: end;

  margin-top: 0.25rem;

  button {
    margin-left: 0.75rem;
  }
}

ul.feeds {
  padding-left: 0px;
  list-style-type: none;

  li.feed {
    display: flex;
    flex-flow: column;

    margin-top: 1rem;

    h1 {
      margin: 0;
    }

    & > div.actions {
      button {
        background-color: $button-color-light;
      }
    }
  }

  ul.feed {
    display: flex;
    flex-direction: column;

    padding-left: 0px;
    list-style-type: none;

    li.entry {
      display: flex;
      flex-direction: column;

      margin-top: 1.25rem;

      &.read {
        opacity: 0.5;
      }

      &.update-pending {
        color: $gray-light;
      }
    }
  }
}

ul.additional-info {
  padding-left: 0px;
  list-style-type: none;

  li {
    margin-right: 0.4rem;
    display: inline-block;
  }
}
