/* This file is for your main application css. */

$black: rgb(0, 0, 0);
$gray-light: rgb(99, 108, 114);
$button-color: rgb(9, 86, 142);
$button-color-light: rgb(134, 181, 216);

* {
  box-sizing: border-box;
  font-family: Raleway, -apple-system, system, sans-serif;
}

html {
  background-color: rgb(250, 250, 250);

  font-size: 14px;
}

h1 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: $black;

  &:visited {
    color: $black;
  }
}

button, a.button, input[type="submit"] {
  border-width: 0;
  margin: 0;
  padding: 0;
  padding: .375rem .75rem;

  font-size: smaller;
  font-weight: 800;

  background-color: $button-color;
  color: rgb(255, 255, 255);
}

@import "_feed";
@import "_options";
@import "_session";
@import "_user";
