# `--legacy-peer-deps` seems to have been introduced by npm 7. After switching
# to Node >= 16 in the build matrix, `npm ci` started to fail, complaining about
# conflicting peer dependencies. This is a workaround that keeps `npm ci`
# working by ignoring those conflicts. It is not a proper solution. A proper
# solution would be resolving the conflicting dependencies.
#
# https://docs.npmjs.com/cli/v7/using-npm/config#legacy-peer-deps
legacy-peer-deps=true
