ul.feeds {
  padding-left: 0px;
  list-style-type: none;

  li.feed {
    h1 {
      border-bottom: 1px solid $black;

      small {
        display: block;
      }
    }
  }

  ul.feed {
    padding-left: 0px;
    list-style-type: none;

    li.entry {
      padding: .3rem;
      padding-left: .2rem;
      border-bottom: 1px solid $gray-light;

      &.read {
        opacity: 0.5;
      }

      &.update-pending {
        color: $gray-light;
      }
    }
  }
}
